# Haptics
allow hal_vibrator_default input_device:dir r_dir_perms;
allow hal_vibrator_default vibrator_snd_device:chr_file rw_file_perms;
allow hal_vibrator_default vibrator_snd_device:dir search;
allow hal_vibrator_default audio_device:dir search;
allow hal_vibrator_default proc_asound:dir search;
allow hal_vibrator_default proc_asound:file r_file_perms;
